* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vh;
  height: 100vh;
  background-color: black;
}

h1 {
  color: white;
  font-size: 4rem;
  text-align: center;
  min-width: 469px;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.linkContainer {
  display: flex;
  justify-content: space-between;
  position: absolute;
  width: 80%;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
}

.home,
.todo {
  font-size: 2em;
  opacity: 0;
  transition: all 1s ease;
}

.robo {
  font-size: 2rem;
}

.linkContainer a {
  text-decoration: none;
  color: white;
}

.linkContainer a:hover {
  display: inline-block;
  cursor: pointer;
}

span {
  transform: translateY(-150px);
  display: inline-block;
  opacity: 0;
  transition: all 1s ease;
}

.fade {
  transform: translateY(0px);
  opacity: 1;
}

.fade2 {
  transform: translateX(-50px);
  opacity: 1;
}

.fade3 {
  transform: translateX(50px);
  opacity: 1;
}

@media screen and (max-width: 469px) {
  .linkContainer {
    display: flex;
    flex-direction: column;
  }
}
